<div>
    <h1>Registro Para obtener un token</h1>

    <hr>

    <div class="row text-end">
        <div class="col">
            <button class="btn btn-success" routerLink="/home">
                <i class="fa fa-arrow-left"></i>
                Regresar
            </button>
        </div>
    </div>

    <hr>

    <form action="">
        <div class="mb-3" style="width: 30%;">
            <label for="txtusername" class="form-label">User name</label>
            <input type="text" [(ngModel)]="email" name="txtusername" id="txtusername" class="form-control">
        </div>
        <div class="mb-3" style="width: 30%;">
            <label for=" txtpassword " class="form-label ">Password</label>
            <input type="password " [(ngModel)]="password " name="txtpassword " id="txtpassword " class="form-control ">
        </div>

        <div class="text-start">
            <button (click)="submit() " class="btn btn-primary ">Entrar</button>
        </div>
    </form>
</div>