<h1>Registro <small>Persona Física</small></h1>
<hr>

<div class="row text-end">
    <div class="col">
        <button class="btn btn-danger" routerLink="/personas">
            <i class="fa fa-arrow-left"></i>
            Regresar
        </button>
    </div>
</div>

<div class="row animated fadeIn faster">
    <div class="col">

        <form (ngSubmit)="guardar( f )" #f="ngForm">

            <div class="form-group">
                <label>Firebase ID</label>
                <input type="text" class="form-control" disabled="disabled" placeholder="Firebase ID" [(ngModel)]="persona.id" name="id" id="" required>
            </div>

            <div class="form-group">
                <label>Fecha Registro</label>
                <input type="text" class="form-control" placeholder="Fecha Registro" [(ngModel)]="persona.fechaRegistro" name="Fecha Registro" id="" required>
            </div>

            <div class="form-group">
                <label>Fecha Actualizacion</label>
                <input type="text" class="form-control" placeholder="Fecha Actualizacion" [(ngModel)]="persona.fechaActualizacion" name="Fecha Actualizacion" id="" required>
            </div>

            <div class="form-group">
                <label>Nombre</label>
                <input type="text" class="form-control" placeholder="Nombre" [(ngModel)]="persona.nombre" name="Nombre" id="" required>
            </div>

            <div class="form-group">
                <label>Apellido Paterno</label>
                <input type="text" class="form-control" placeholder="Apellido Paterno" [(ngModel)]="persona.apellidoPaterno" name="Apellido Paterno" id="" required>
            </div>

            <div class="form-group">
                <label>Apellido Materno</label>
                <input type="text" class="form-control" placeholder="Apellido Materno" [(ngModel)]="persona.apellidoMaterno" name="Apellido Materno" id="" required>
            </div>

            <div class="form-group">
                <label>RFC</label>
                <input type="text" class="form-control" placeholder="RFC" [(ngModel)]="persona.rfc" name="rfc" id="" required>
            </div>

            <div class="form-group">
                <label>Fecha Nacimiento</label>
                <input type="text" class="form-control" placeholder="Fecha Nacimiento" [(ngModel)]="persona.fechaNacimiento" name="fechaNacimiento" id="" required>
            </div>

            <div class="form-group">
                <label>Usuario Agrega</label>
                <input type="text" class="form-control" placeholder="Usuario Agrega" [(ngModel)]="persona.usuarioAgrega" name="usuarioAgrega" id="" required>
            </div>

            <div class="form-group">
                <label>Estado</label>
                <br>
                <button *ngIf="persona.activo" (click)="persona.activo = false" class="btn btn-outline-success w-50" type="button">
                    <i class="fa fa-smile-wink"></i>
                    Activo
                </button>

                <button *ngIf="!persona.activo" (click)="persona.activo = true" class="btn btn-outline-danger w-50" type="button">
                    <i class="fa fa-dizzy"></i>
                    Inactivo
                </button>
            </div>

            <hr>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary w-25">
                    <i class="fa fa-save"></i>
                    Guardar
                </button>
            </div>



        </form>

    </div>
</div>